.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items_wrapper {
    border: 1px solid black;
    position: absolute;
    padding: 5px;
}

.select.active .items {
    display: block;
}

.item.selected {
    background: #1ea7fd;
    color: white;
}
